.layout-list-map {
  height: 800px;
  height: calc(100vh - #{$rheader-height-large-extended});
  width: 100%;


  .layout-content-filters-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color-secondary-variant, 0.9);
    z-index: 9000;

    .popup-background {
        cursor: pointer;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color-secondary-variant, 0.9);
        z-index: 1;
    }

    .popup-content {
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: calc(100% - 50px);
        max-width: 500px;
        height: calc(100% - 50px);
        overflow: hidden;

        .search-filters-container {
            padding: 10px 30px;
            background-color: $grayF2;

            input {
                width: calc(100% - 15px);
            }
        }

        .filters-list {
            padding: 30px;
            max-height: calc(100vh - 222px);
            overflow: auto;

            label {
                display: block;
                padding: 15px;
                border-bottom: 1px solid $grayF2;
                position: relative;
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: $grayF2;
                }

                span.label-txt {
                  padding-left: 10px;
                  padding-top: 15px;
                  z-index: 2;
                  position: relative;
                }
                input {
                    position: relative;
                    z-index: 2;

                    &:checked + span.label-bg {
                      background-color: $green1;
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      z-index: 1;
                    }

                    &:checked ~ span.label-txt {
                      color: $white;
                    }
                }
            }
        }

        .buttons {
            background-color: $grayF2;
            padding: 30px 30px 20px;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .button {
              margin-right: 10px;

              &:last-of-type {
                margin-right: 0;
              }
            }
        }
    }
  }

  .layout-content-list,
  .layout-content-map {
    height: 100%,
  }

  .layout-content-list {
    background-color: white;
    float: left;
    max-width: 560px;
    overflow-x: auto;
    width: 100%;
    position: relative;

    span.back-search-btn {
      position: fixed;
      top: calc(#{$rheader-height-medium} - 20px);
      left: 0;
      width: 100%;
      max-width: 560px;
      padding: 10px 30px;
      z-index: 15;
      background-color: $color-secondary;
      color: $white;
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s ease all;

      i {
        display: inline-block;
        font-size: 20px;
        margin-right: 5px;
        vertical-align: top;
        transform: rotate(180deg);
        transform-origin: center center;
        transition: 0.2s ease all;
      }

      &.visible {
        opacity: 1;
        top: $rheader-height-medium;
        visibility: visible;

        i {
          transform: rotate(0);
        }
      }
    }
  }

  .favorites-container {
    display: none;
  }

  &.favorites {

    .search-results-container {
      display: none;
    }

    .favorites-container {
      display: block;
    }
  }

  .layout-content-map {
    background-color: $grayF2;
    float: right;
    width: calc(100% - 560px);

    #map {
      height: 100%;  
    }
  }
}

@include large-and-medium {
  .layout-list-map {
    height: calc(100vh - #{$rheader-height-medium});
  }
}

@include small {
  .layout-list-map {
    height: calc(100vh - #{$rheader-height-small});
    
    .layout-content-list,
    .layout-content-map {
      float: none;
      width: 100%;
      max-width: 100%;
    }

    .layout-content-list {
      position: inherit;

      span.back-search-btn {
        display: none !important;
      }
    }

    .block-search-field .block-search-bottom-links a {
      opacity: 0.5;
    }

    .block-search-field h3.block-search-title {
      opacity: 1;
      cursor: pointer;
    }

    &.favorites {

      .layout-content-map {
        display: none;
      }

      .block-favorites .block-search-header {
        display: none;
      }

      .search-results-container {
        display: block;

        .block-search-content,
        .block-search-results {
          display: none !important;
        }
      }

      .block-search-field .block-search-bottom-links a {
        opacity: 1;
      }

      .block-search-field h3.block-search-title {
        opacity: 0.5;
      }

      .favorites-container {
        display: block;
        height: calc(100vh - #{$rheader-height-small} - 95px);
      }
    }

    .layout-content-list {
      height: auto;
      background-color: $grayF2;

      &.searching {
        height: inherit;
    
        .block-search-filters {
          display: block;
        }

        .block-search-results {
          display: none !important;
        }
      }

    }

    .layout-content-map {
      height: calc(100vh - #{$rheader-height-small} - 109px);
    }
  }
}