%component-text {

  h1, h2, h3, h4, ul, ol, p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 4.4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.2rem;
    margin-bottom: 2rem;
    padding-top: 4rem;

    img {
      margin: 0 1rem;
      max-height: 5rem;
      position: relative;
      top: 0.2rem;
      vertical-align: bottom;
    }
  }
  @include small {
    h2 {
      font-size: 3rem;
      line-height: 3.8rem;
    }
  }

  h3 {
    color: $gray1A;
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 3rem;
    margin: 3rem 0 2rem;
  }

  h4 {
    color: $color-secondary;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 1rem;
  }

  ul, ol, p {
    color: $gray33;
    margin: 0 0 2rem;
    padding: 0;
  }

  p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    list-style-position: inside;

    li + li {
      margin-top: 1rem;
    }
  }

  ul {
    list-style-type: disc;
  }

  ul.without-bullets {
    list-style-type: none;
  }

  .social-link {
    color: $black;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }

  .social {
    list-style-type: none;
    color: $black;

    &-icon {
      &-item {
        display: inline-block;
        padding-left: 3rem;
        &.facebook {
          @extend .social-link;
          background: url('../components/text/icon-facebook.svg') left center no-repeat;
        }
        &.twitter {
          @extend .social-link;
          background: url('../components/text/icon-twitter.svg') left center no-repeat;
        }
        &.instagram {
          @extend .social-link;
          background: url('../components/text/icon-instagram.svg') left center no-repeat;
        }
      }
    }
  }

  ul.list-cols {
    line-height: 2.5rem;
    list-style-type: none;
    columns: 3;

    li {
      border-bottom: 0.1rem solid $grayEE;
      margin: 0;
      padding: 1rem 0;
    }
  }

  img {
    max-width: 100%;
  }

  a:not(.button) {
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }

  strong {
    color: $color-secondary;
  }

  em.light {
    color: $gray99;
    font-style: normal;
  }

}

.component-text {
  @extend %component-text;

  h2 {
    border-top: 0.7rem solid $grayF2;
    color: $gray1A;
  }
  &:first-child h2 {
    border-top: none;
    padding-top: 0;
  }

  a:not(.button) {
    color: $red1;
  }

  .component-postit + & > p:first-child,
  &:first-child > p:first-child {
    font-weight: 500;
  }

  .anchor {
    clear: both;
    position: relative;
  }

  .icon-switch {
    margin-left: 1rem;
  }

  &.intro-primary {
    & + .component-text h2 {
      border-top: 0;
    }

    p {
      color: $color-primary;
      font-weight: 700;
      font-size: 2rem;

      &:after {
        display: block;
        content: " ";
        width: 7rem;
        height: 1rem;
        background: $color-primary;
        position: relative;
        bottom: -2rem;
      }
    }
  }
}

@include medium-and-small {
  .component-text {
    ul.list-cols {
      columns: 2;
    }
  }
}

@media screen and (max-width: 450px) {
  .component-text {
    ul.list-cols {
      columns: 1;
    }
  }
}
