.block-search-filters {

  .block-search-content {
    .button {
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .more-filters-button {
        display: inline-block;
    }

    .apply-filters-button {
        display: none;
        margin-top: 15px;
        width: 100%;
    }
  }

  .block-search-filters-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color-secondary-variant, 0.9);
    z-index: 9000;

    .popup-background {
        cursor: pointer;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color-secondary-variant, 0.9);
        z-index: 1;
    }

    .popup-content {
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: calc(100% - 50px);
        max-width: 500px;
        height: calc(100% - 50px);
        overflow: hidden;

        .search-filters-container {
            padding: 10px 30px;
            background-color: $grayF2;

            input {
                width: calc(100% - 15px);
            }
        }

        .filters-list {
            padding: 30px;
            max-height: calc(100vh - 234px);
            overflow: auto;

            label {
                display: block;
                padding: 15px;
                border-bottom: 1px solid $grayF2;
                position: relative;
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: $grayF2;
                }

                span.label-txt {
                  padding-left: 10px;
                  padding-top: 15px;
                  z-index: 2;
                  position: relative;
                }
                input {
                    position: relative;
                    z-index: 2;

                    &:checked + span.label-bg {
                      background-color: $green1;
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      z-index: 1;
                    }

                    &:checked ~ span.label-txt {
                      color: $white;
                    }
                }
            }
        }

        .buttons {
            background-color: $grayF2;
            padding: 30px 30px 20px;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
  }
}

@include small {

  .block-search-filters {
    display: none;

    .block-search-header {
      display: none;
    }

    .block-search-content {

      .apply-filters-button {
        display: block;
      }
    }
  }
}