.block-search-filters {

  .block-search-content {
    .button {
      margin-bottom: 5px;
      margin-right: 5px;
    }

    .around-me-button {
      display: none;
      margin-bottom: 15px;
      width: 100%;
    }

    .block-search-filters-more {
      background: none;
      border: 0;
      color: $color-secondary;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      padding: 5px 0;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }

    .apply-filters-button {
      display: none;
      margin-top: 15px;
      width: 100%;
    }
  }

  .block-search-filters-items {
    background-color: $white;
    border-radius: 5px;
    padding: 10px 10px 5px;

    .button.white {
      background-color: $grayF2;
    }

    & + button {
      margin-top: 10px;
    }
  }

  .secondary-filters {
    display: flex;
    margin-top: 5px;

    .secondary-filter {
      display: inline-block;
      padding: 10px 0;
      margin-right: 25px;
      text-align: left;

      .ais-header {
        display: block;
        margin-bottom: 10px;
        color: $color-secondary;
        font-weight: 400;
      }

      input[type="checkbox"] {
        display: inline-block;
        margin-right: 8px;
      }

      select {
        max-width: 20rem;
      }

      label {
        display: flex;
        font-size: 1.3rem;
        line-height: 3.3rem;
      }
    }
  }
}

@include small {

  .block-search-filters {
    display: none;

    .block-search-header {
      display: none;
    }

    .block-search-content {
      .apply-filters-button {
        display: block;
      }

      .around-me-button {
        display: block;
      }
    }

    .secondary-filters {
      .secondary-filter {
        label {
          line-height: 1;
        }
      }
    }
  }
}
