.block-search-filters {

  .block-search-content {
    .button {
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .around-me-button {
      display: none;
      margin-bottom: 15px;
      width: 100%;
    }

    .more-filters-button {
        display: inline-block;
    }

    .apply-filters-button {
        display: none;
        margin-top: 15px;
        width: 100%;
    }
  }

  .secondary-filters {
    margin-top: 5px;

    .secondary-filter {
      display: inline-block;
      padding: 10px 0;
      margin-right: 25px;
      text-align: left;

      span.secondary-filter-title {
        display: block;
        margin-bottom: 10px;
        color: $color-secondary;
        font-weight: 400;
      }

      input[type="checkbox"] {
        display: inline-block;
        margin-right: 8px;
      }

      label {
        font-size: 13px;
        line-height: 17px;
      }
    }
  }
}

@include small {

  .block-search-filters {
    display: none;

    .block-search-header {
      display: none;
    }

    .block-search-content {

      .apply-filters-button {
        display: block;
      }

      .around-me-button {
        display: block;
      }

    }
  }
}