include ../block-search/block-search
include ../button/button

mixin block-search-filters(data)
  - data.modifiers = data.modifiers || []
  - data.modifiers.push("block-search-filters")
  +block-search(data)
    if data.filter_items && data.filter_items.length
      each item in data.filter_items
        - item.modifiers = ["white"]
        +button(item)
      - data.all_filters.modifiers = ["secondary"]
      +button(data.all_filters)
