include ../block-search/block-search
include ../block-search-filters-mobile/block-search-filters-mobile
include ../button/button

mixin block-search-filters(data)
  - data = JSON.parse(JSON.stringify(data)) // clone the data object
  - data.modifiers = data.modifiers || []
  - data.modifiers.push("block-search-filters")
  +block-search(data)
    .block-search-filters-items
      if data.aroundMeButton
        - data.aroundMeButton.modifiers = ["secondary", "around-me-button"]
        +button(data.aroundMeButton)
      if data.filter_items && data.filter_items.length
        each item in data.filter_items
          - item.modifiers = ["closable", "white", "small"]
          +button(item)
      if data.aroundMeButton
        - data.applyFiltersButton.modifiers = ["apply-filters-button"]
        +button(data.applyFiltersButton)
    if data.more
      button.block-search-filters-more.js-more-filters-button= data.more.text

  .block-search-filters-mobile
    +block-search-filters-mobile(data)
