include ../block-search/block-search
include ../button/button

mixin block-search-filters(data)
  - data = JSON.parse(JSON.stringify(data)) // clone the data object
  - data.modifiers = data.modifiers || []
  - data.modifiers.push("block-search-filters")
  +block-search(data)
    .block-search-filters-items-wrapper
      #js-currentrefined
      #js-refinementlist.block-search-filters-autocomplete
      //- if data.aroundMeButton
      //-   - data.aroundMeButton.modifiers = ["secondary", "around-me-button"]
      //-   +button(data.aroundMeButton)
    if data.more
      button.block-search-filters-more.js-open-search-modal= data.more.text
    .block-search-filters-secondary
      #js-facet-open.block-search-filters-secondary-item
      #js-facet-accessibility.block-search-filters-secondary-item
      #js-facet-address_postcode.block-search-filters-secondary-item
