include ../block-search/block-search
include ../block-search-filters-mobile/block-search-filters-mobile
include ../button/button

mixin block-search-filters(data)
  - data = JSON.parse(JSON.stringify(data)) // clone the data object
  - data.modifiers = data.modifiers || []
  - data.modifiers.push("block-search-filters")
  +block-search(data)
    if data.aroundMeButton
      - data.aroundMeButton.modifiers = ["secondary", "around-me-button"]
      +button(data.aroundMeButton)
    if data.filter_items && data.filter_items.length
      each item in data.filter_items
        - item.modifiers = ["white", "small"]
        +button(item)
      .more-filters-button
        - data.more.modifiers = ["secondary", "small"]
        +button(data.more)
    if data.aroundMeButton
      - data.applyFiltersButton.modifiers = ["apply-filters-button"]
      +button(data.applyFiltersButton)

  .block-search-filters-mobile
    +block-search-filters-mobile(data)