extends ../../layouts/stack/stack

include ../../modules/block-search/block-search
include ../../modules/block-favorites/block-favorites
include ../../modules/block-search-field/block-search-field
include ../../modules/block-search-filters/block-search-filters
include ../../modules/block-map/block-map
include ../../modules/card/card
include ../../modules/notice/notice
include ../../modules/rheader/rheader
include ../../modules/skip-links/skip-links

append header
  if data.skip_links
    +skip-links(data.skip_links)

append header
  +rheader(data.rheader)

append content
  .layout-content
    .layout-list-map
      .layout-content-filters-popup
      .layout-content-list.searching
        span.back-search-btn
          i.icon-arrow-top
          span= data.list.block_search_field.back_search_btn
        .search-results-container
          +block-search-field(data.list.block_search_field)
          +block-search-filters(data.list.block_search_filters)
          +block-search(data.list.block_search_results)
            .block-search-cards#hits-container
              .carousel
                each result in data.list.results
                  .carousel-cell
                    +card(result)
        .favorites-container
          +block-search(data.list.block_favorites)
      .layout-content-map
        +block-map(data.map)
        

append footer
  if data.notices && data.notices.cnil
    +notice(data.notices.cnil)
