.layout-jo {
  display: none;
  top: 0px;
  position: absolute;
  width: 100%;
  z-index: 9999;
  border: 0;
  padding: 0;
  margin: 0;
  height: 980px;

  &.done {
    transform: translateY(-430px);
    transition: 2s ease transform;
  }
}

.jumbotron-slider {
  background-color: $white;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: contain;
  display: table;
  height: 980px;
  position: relative;
  text-decoration: none;
  width: 100%;
  

  

/*  .layout-wrapper.jumbotron-slider-content {
    border-left: 6px solid $color-tertiary;
    color: $white;
    padding: 5px 24px 3px 24px;
    @include large-and-medium {
      padding-left: 35px;
    }
  }*/

  &.home {
    height: auto;

    .layout-wrapper.jumbotron-slider-content {
      border: none;
      padding: 0;
      text-align: center;

      & > * {
        margin: 0 auto;
      }
    }

    .jumbotron-slider-wrapper {
      padding: 0px;
       

/*      &:after {
        background: white;
        opacity: 0.25;

        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        // Target IE 10 and 11
        @media screen\0 {
          height: 200%;
        }
      }*/
      
    }

    .jumbotron-slider-text {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.jumbotron-slider-wrapper {
  display: table-cell;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
}

html.no-js,
html.no-touch {
  .jumbotron-slider:not(.no-overlay):not(.home) {
    .jumbotron-slider-wrapper:after {
      transition: transform 1s ease;
      transform: translateX(-20%);
    }

    &:hover {
      .jumbotron-slider-wrapper:after {
        transform: translateX(0);
      }
    }
  }
}

.jumbotron-slider-content {
  position: relative;
  z-index: 1;
}

.jumbotron-slider-text {
  font-weight: 700;   
  font-size: 1.2rem;
  line-height: 3rem;
  margin: 0 0 0px;
  max-width: 960px;
  text-transform: uppercase;
  color:$jo-blue;
  text-align: center;
}

.jumbotron-slider-block {
  float: left;
}

@include large {
  .layout-jo {
    height:490px;

  }

  .jumbotron-slider {
    height: 490px;

    &.home {
      height: 490px;

      .jumbotron-slider-text {
        max-width: 960px;
        padding: 15px 0;
      }
    }
  }

  .jumbotron-slider-text {
    font-size: 1.2rem;
    line-height: 3rem;
    margin: 0 auto;
    height:60px;
    a {
      color:$jo-blue;
    }
  }

}

@include small {
  .jumbotron-slider,
  .layout-jo {
    display:none;
  }
}

@include medium {
  .jumbotron-slider,
  .layout-jo {
    display:none;
  }
}