.image-texte{
	display: flex;

	/* modifiers */
	&.align-right{
		.image-content{
			order: 1;
		}
		.text-content{
			padding: 0 40px 0 0;
		}	
	}
	
	.image-content-img{
		@media (min-width: 768px) and (max-width: 900px){
			width: 45vw;
		}
		max-width:400px;
	}

	.text-content{
		padding-left: 40px;

		&-title{
			font-weight: bold;
			margin: 0;
			padding: 0;
		}

		&-subtitle{
			font-weight: bold;
		}
	}
}

@include small{
	.image-texte{
		&.align-left,
		&.align-right{
			flex-direction : column;
			.image-content{
				order: 0;		
				.image-content-img{
					max-width: 100%;
				}
			}

			.text-content{
				order: 1;
				padding: 20px 0 0 0;
			}
		}
	}			
}
