.component-opening-hours {
  clear: both;

  h2 {
    border-top: 7px solid $grayF2;
    color: $gray1A;
    float: left;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-bottom: 20px;
    padding-top: 40px;
  }
  @include small {
    h2 {
      font-size: 3rem;
      line-height: 3.8rem;
    }
  }
  &:first-child h2 {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }

  .opening-hours-heading {
    overflow: hidden;
  }

  .opening-hours-status,
  .opening-hours-planned-closures,
  table,
  > .button {
    margin-bottom: 3rem;
  }

  .opening-hours-status {
    font-size: 1.8rem;
    font-weight: 700;

    .icon {
      margin-right: 1rem;
    }

    &.is-open {
      color: $green2;
    }

    &.is-closed {
      color: $primary-v2;
    }
  }

  .opening-hours-title-links {
    font-size: 1.5rem;

    > a {
      border-bottom: 1px solid $gray4D;
      color: $gray4D;
      display: inline-block;
      line-height: 2rem;
      padding-bottom: 2px;
      position: relative;
      text-decoration: none;
      transition: all 0.35s ease;

      &:after {
        background-color: $primary-v2;
        bottom: -1px;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        transition: width 0.35s ease;
        width: 0;
      }

      &:hover {
        color: $primary-v2;
        &:after {width: 100%;}
      }
    }
  }

  .opening-hours-planned-closures {
    line-height: 2.4rem;

    .icon {
      color: $primary-v2;
      font-size: 2rem;
      margin-right: 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 3rem;
    }
  }

  .opening-hours-text-piscine {
    margin:0 0 2rem 0;
    line-height: 2.4rem;
  }

  .opening-hours-other {
    &-title {
      color: $secondary-v2;
      margin-bottom: 2rem;
    }
  }

  caption {
    caption-side: top;
    color: $gray1A;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;

    .other-hours-comment {
      font-style: italic;
      font-weight:normal;
    }
  }



  table {
    width: auto;

    p {margin: 0;}
  }

  tr > th,
  tr > td {
    border-bottom: 1px solid $grayEE;
    padding: 15px 0 5px;

    &:first-child {border-left: none;}
  }

  tr > th {
    border-right: 25px solid $white;
    color: $gray1A;
    font-size: 1.6rem;
    font-weight: normal;
    min-width: 115px;
    text-align: left;
  }

  tr > td {
    color: $gray4D;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: left;

    a:not(.button) {
      color: $red1;
      text-decoration: underline;

      &:hover {text-decoration: none;}
    }
  }

  tfoot {
    tr {background-color: transparent;}
    tr > td {text-align: left;}
  }
}

@include small {
  .component-opening-hours {
    .opening-hours-title-links {
      clear: both;
    }
  }
}

@include medium-and-small {
  .component-opening-hours {
    overflow-x: auto;
    position: relative;
    width: 100%;
  }
}


@include large-and-medium {
  .component-opening-hours {
    h2 {
      font-size: 3.4rem;
      line-height: 4rem;
      margin: 0 20px 0 0;
    }

    .opening-hours-title-links {
      line-height: 4rem;
    }

    .opening-hours-other {
      table {
        float: left;
        margin: 0 2rem 4rem 0;
        min-width: calc(50% - 2rem);

        &:nth-child(2n) {
          clear: left;
        }
      }
    }
  }
}

@include large {
  .component-opening-hours {
  }
}
