include ../../modules/card/card

mixin cards(data)
  .component.component-cards(class=data.modifiers)
    each card in data.items
      - card.modifiers = card.modifiers || []
      - card.modifiers.push('large')
      +card(card)
