@import "../../stylesheets/lib/instantsearch";

.search-field {
  clear: both;

  // clearfix
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }

  .ais-search-box {
    max-width: none;
  }

  // modifiers
  &.block {
    .search-field-input[type="text"],
    .search-field-submit {
      border-radius: 5px;
      font-size: 13px;
      height: 45px;
      line-height: 45px;
    }

    .search-field-input[type="text"] {
      margin-right: 10px;
      padding: 0 10px;
      width: calc(100% - 105px);
    }

    .search-field-submit {
      background-color: $secondary-v2;
      color: $white;
      text-transform: uppercase;
      width: 95px;

    }
  }

  &.small {
    background-color: $white;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;

    .search-field-input[type="text"],
    .search-field-submit {
      font-size: 1.4rem;
      font-weight: 500;
      height: 40px;
      line-height: 4rem;
    }

    .search-field-input[type="text"] {
      padding: 0 5px;
      width: 180px;
    }

    .search-field-submit {
      background-color: $grayEE;
      border-radius: 5px;
      padding: 0 10px;
      width: auto;
    }
  }
}

.search-field-input[type="text"],
.search-field-submit {
  display: block;
  float: left;
  height: 60px;
  line-height: 6rem;
}

.search-field-input[type="text"] {
  @include input-color-placeholder($gray4D);
  border-radius: 5px 0 0 5px;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  padding: 0 10px;
}

.search-field-submit {
  background-color: $grayF2;
  color: $gray4D;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 2.4rem;
  padding: 0;
  width: 58px;
  > span {@include hidden-accessibly;}

  & + * {
    margin-left: 10px;
  }
}

.algolia-autocomplete {
  width: calc(100% - 105px);
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: calc(100% - 10px);
}
.algolia-autocomplete .aa-hint {
  color: $gray99;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: calc(100% - 10px);
  background-color: $white;
  border: 1px solid $grayCC;
  border-radius: 0 0 5px 5px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  font-size: 13px;
  padding: 5px 10px;
  border-bottom: 1px solid $grayCC;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion:last-of-type {
  border-bottom: 0;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  color: $primary-v2;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-style: normal;
  font-weight: bold;
}

.algolia-autocomplete .search-field-input[type="text"].aa-input {
  width: calc(100% - 10px);
}

.algolia-autocomplete .ad-example-header {
  background-color: $grayF2;
  color: $secondary-v2;
  font-weight: 400;
  padding: 10px;
}

@include small {
  .search-field-input[type="text"] {
    font-size: 1.2rem;
    width: calc(100% - 58px);
  }
  .block-search-field .search-field-submit {
      display: none;
  }
  .algolia-autocomplete,
  .algolia-autocomplete .search-field-input[type="text"].aa-input,
  .algolia-autocomplete .aa-input,
  .algolia-autocomplete .aa-hint,
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
  }
}

@include medium {
  .search-field-input[type="text"] {
    .quick-access-search & {width: 74%;}
    .quick-access-search .search-field.with-around & {width: 60%;}
  }
}

@include large-and-medium {
  .search-field-input[type="text"],
  .search-field-submit {
    height: 80px;
    line-height: 8rem;
  }

  .search-field-input[type="text"] {
    padding: 0 20px;
    width: 600px;
  }
  .search-field.with-around .search-field-input[type="text"] {
    width: 530px;
  }

  .search-field-submit {
    width: 78px;
  }
}
