.card {
  background-color: $grayF2;
  border-radius: 5px;
  color: $gray33;
  display: block;
  max-width: 230px;
  position: relative;
  text-decoration: none;
  -webkit-transition: background 0.35s ease;
  transition: color 0.35s ease;
  width: 100%;

  &.active {
    background-color: darken($grayF2, 5%);
  }

  &:hover {
    color: $black;
    .card-image:after {opacity: 0;}
  }

  // modifiers
  &.large {
    background-color: $grayF2;
    color: $gray33;
    display: block;
    max-width: 100%;
    min-height: 220px;
    position: relative;
    text-decoration: none;
    transition: background 0.35s ease;

    .card-title {
      margin-top: 10px;
      max-width: 320px;
    }

    .card-text {
      font-size: 15px;
    }
  }
}

.card-image {
  border-radius: 5px;
  background: center center no-repeat;
  background-size: cover;
  height: 120px;
  background-color: $green1;
  overflow: hidden;
  position: relative;

  &.no-img {

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: $white;
      mask: url('../modules/rheader/nef.svg') center center no-repeat;
      opacity: 0.5;
    }
  }

  &:after {
    background: $black;
    content: "";
    display: block;
    height: 100%;
    opacity: 0.1;
    transition: opacity 0.35s ease;
    width: 100%;
  }
}

.card-content {
  padding: 20px;

  .open {color: $green1;}
  .close {color: $color-primary-variant;}
}

.card-category {
  color: $color-secondary;
  font-weight: 500;
  font-size: 14px;
}

.card-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 48px;
}

.card-text {
  min-height: 38px;
  margin-bottom: 5px;
  color: $gray99;
}


@include small {

  .card {

    // modifiers
    &.large {
      .card-image {
        height: 150px;
        height: 30vh;
        width: 100%;
      }
    }

    &.active {
      background-color: $grayF2;
    }
  }
}

@include large-and-medium {
  .card {

    // modifiers
    &.large {
      .card-image {
        height: 100%;
        left: 0;
        max-width: 400px;
        position: absolute;
        top: 0;
        width: 45%;
      }

      .card-content {
        margin-left: 45%;
        width: 55%;
      }
    }
  }
}
