.jumbotron {
  background-color: $white;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: cover;
  display: table;
  height: 180px;
  position: relative;
  text-decoration: none;
  width: 100%;

  .layout-wrapper.jumbotron-content {
    border-left: 0;
    color: $white;
    padding: 5px 24px 3px 24px;
    @include large-and-medium {
      padding-left: 35px;
    }
  }

  &:not(.no-overlay) {
    .jumbotron-wrapper:after {
      background: rgba(0,0,0,0.1);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateX(0);
      width: 150%;
      z-index: 0;

      // Target IE 10 and 11
      @media screen\0 {
        height: 200%;
      }
    }
  }

  &.home {
    height: auto;

    .layout-wrapper.jumbotron-content {
      border: none;
      padding: 0;
      text-align: center;

      & > * {
        margin: 0 auto;
      }
    }

    .jumbotron-wrapper {
      padding: 30px;

      &:after {
        background: black;
        opacity: 0.25;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        // Target IE 10 and 11
        @media screen\0 {
          height: 200%;
        }
      }
    }

    .jumbotron-text {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.jumbotron-wrapper {
  display: table-cell;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

html.no-js,
html.no-touchevents {
  .jumbotron:not(.no-overlay):not(.home) {
    .jumbotron-wrapper:after {
      transition: transform 1s ease;
      transform: translateX(-20%);
    }

    &:hover {
      .jumbotron-wrapper:after {
        transform: translateX(0);
      }
    }
  }
}

.jumbotron-content {
  position: relative;
  z-index: 1;
}

.jumbotron-title {
  font-size: 1.5rem !important;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 470px;
  text-shadow: 2px 2px 10px $gray33;
}

.jumbotron-text {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin: 0 0 8px;
  max-width: 470px;
}

.jumbotron-block {
  float: left;
}

@include large-and-medium {
  .jumbotron {
    height: 320px;

    &.home {
      height: 350px;

      .jumbotron-text {
        max-width: 740px;
        padding: 15px 0;
      }
    }
  }

  .jumbotron-title {
    font-size: 1.8rem !important;
    margin-bottom: 12px;
  }

  .jumbotron-text {
    font-size: 4rem;
    line-height: 4.4rem;
    margin: 0 0 14px;
  }

  .jumbotron-block {
    position: absolute;
    top: 0;
    right: 0;
  }
}
