include ./accordion/accordion
include ./buttons/buttons
include ./demande/demande
include ./districts/districts
include ./events/events
include ./expandable/expandable
include ./faq/faq
include ./form/form
include ./frame/frame
include ./gallery/gallery
include ./html/html
include ./image/image
include ./jecoute/jecoute
include ./links/links
include ./map/map
include ./news-push/news-push
include ./opening-hours/opening-hours
include ./place/place
include ./postit/postit
include ./rush-half-hours/rush-half-hours
include ./rush-hours/rush-hours
include ./sharelines/sharelines
include ./table/table
include ./text/text
include ./verbatim/verbatim
include ./video/video
