.video-home-news {
  // clearfix
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }

  &-items {
    list-style: none;
    padding: 0;
  }

  &-item {
    display: none;
    float: left;
    min-width: 100%;

    &:first-child {
      display: block;

      .video-card {

        &-image {
          height: 50vw;
        }
      }
    }
  }
}

// CARD

.video-card {
  color: $gray33;
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;

  html.no-js &,
  html.no-touchevents & {
    &:hover,
    &:focus {
      color: $white;

      .video-card-image {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: border-radius 0s ease;

        &:before {
          opacity: 1;
        }
      }

      .video-card-content {

        &:before {
          height: 100%;
        }
      }

      .video-card-title,
      .video-card-text {
        transform: translateX(2rem);
      }
    }
  }

  &-image {
    background-color: $grayEE;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
    color: $white;
    display: block;
    height: 15vw;
    overflow: hidden;
    perspective: 1px; // fix border-radius + overflow hidden Chrome bug
    position: relative;
    transition: border-radius .6s ease;
    width: 100%;

    &:before {
      background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.9));
      content: '';
      display: block;
      height: 100%;
      opacity: .5;
      position: absolute;
      transition: opacity 0.4s ease;
      width: 100%;
    }
  }

  &-play {
    font-size: 6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-duration {
    bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    line-height: 1em;
    position: absolute;
    right: 1rem;
  }

  &-content {
    padding-bottom: 2rem;
    padding-right: 4rem;
    position: relative;

    &:before {
      background-color: $color-secondary;
      border-radius: 0 0 .5rem .5rem;
      content: "";
      height: 0;
      display: block;
      position: absolute;
      transition: height 0.2s ease;
      width: 100%;
    }
  }

  &-title,
  &-text {
    position: relative;
    transition: transform 0.4s ease;
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1em;
    margin: 0;
    padding-top: 1.5rem;
    text-transform: uppercase;
  }

  &-text {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.2rem;
    padding-top: 1.5rem;
  }
}

// MODAL

.video-modal {
  background-color: $gray28;
  color: $white;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.is-open {
    display: block;
  }

  &-wrapper {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: $large-grid-width;
    min-height: 30rem;
    height: 75vh;
    position: relative;
  }

  &-close {
    cursor: pointer;
    font-size: 7rem;
    position: absolute;
    right: 0;
    top: -7rem;
  }

  &-placeholder {
    display: none;
    margin: 0 auto;
    padding: 0 2rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    z-index: 1001;

    a {
      color: $white;
    }
  }
}


@include large-and-medium {

  .video-home-news {

    &-item {
      display: block;
      @include span(4 of 12);
      margin-right: 0;
      min-width: auto;

      &:first-child {
        @include span(8 of 12);
        display: block;

        .video-card {

          &-image {
            height: 33vw;
          }

          &-text {
            font-size: 2.6rem;
            line-height: 3.2rem;
          }
        }
      }
    }
  }
}
