.video-home-modal-body {
  font-size: 1.5rem;
  a {
    color:white;
  }
}

.video-home-news{
  display: flex;
  height: 100%;
  list-style: none;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  margin-bottom:0; 

  .video-home-item{
    display: block;
    text-decoration: none;
    position: relative;
  }

  .video-home-wrapper.news-item{
    padding-top: 0;
  }

  .video-home-image{
    display: block;
    background: $black;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;  /* Internet Explorer 7/8 */
    border-radius: 4px;
    height: 100%;
    margin-bottom: 15px;
    margin-top: 0;
    outline: none;
    padding-top: 56.25%;
    position:relative;

   &:before {
      background: url(../modules/video-home-news/play.png);
      background-size:cover;
      background-position: center;  /* Internet Explorer 7/8 */
      content: '';
      left: 50%;
      opacity: 1;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 100;
    }
  }

  .video-home-embed,
  .video-home-placeholder {
    display:none;
  }

  .video-home-modal {
     display: none; 
     position: fixed;  
     z-index: 1000;  
     left: 0;
     top: 0;
     width: 100%; 
     height: 100%; 
     overflow: auto; 
     background-color: rgb(0,0,0);  
     background-color:#282828; 
  }

  .video-home-modal-content {
     background-color: #282828 ;
     margin: 5% auto; 
     padding: 20px;
     // border: 15px solid #282828;
     width: 640px;
     height: 360px; 
     width: 80%;
     height: 80%;
     text-align: center;
  }

  .video-home-close {
     color: #666;
     float: right;
     font-size: 28px;
     font-weight: bold;
  }

  .video-home-close:hover,
  .video-home-close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
  }
  .video-home-height{
     .video-home-duration{
      bottom: 10px;
      color: $white;    
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.15rem;
      position: absolute;
      right: 12px;
      z-index: 5;
    }
  }
 
  .video-home-content{
    .video-home-title, 
    .video-home-text{
      color: $gray33;
    }

    .video-home-title{
      font-size: 1.3rem;
      font-weight: 300;
      text-transform: uppercase;
      transition: 0.35s ease;
    }

    .video-home-text{
      font-weight: 700;
      text-transform: none;
    } 
  }

  .video-home-list-item {
    .video-home-wrapper.news-item{
      border-bottom: none;
      border-radius: 0 0 4px 4px;
      position: relative;
      padding: 0;
      
      .news-item-meta{
        padding-right: 15px;
      }

      .video-home-height{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
      }

      .video-home-height:before{
        background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        opacity: 0;
        top: 0;
        transition: opacity 0.4s ease;
        width: 100%;
        z-index: 2;
      }

      &:hover .video-home-height:before{
        opacity: 1;
      }

      &:hover .video-home-text, 
      &:hover .video-home-title, 
      &:focus .video-home-text,
      &:focus .video-home-title{
        color: $white;
      }

      &:hover .video-home-title{
        transform: translateX(20px);
      }

    }

    // modifiers
    &.small {
      display: block;
      margin-right: 0;
      width: 100%;

      .video-home-content{
        padding: 0 20px 15px 0;
      }

      .video-home-text{
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
      
      .video-home-image:before{
        height: 27px;
        width: 25px;
      }
    }
    
    &.large{
      border-radius: 4px;
      margin-right: 30px;
      width: 100%;

      .video-home-content{
        padding: 0 35px 25px 0;
      }

      .video-home-text{
        font-size: 2.6rem;
        line-height: 3.2rem;
      }
      .video-home-image:before{
        width: 40px;
        height: 45px;
      }
    }

    &.small, &.large{
      .video-home-duration{
        font-size: 1rem;
      }
    }
  }
}

@media (max-width:600px){
.video-home-news{
  .video-home-list-wrapper{
    display: none;
  }

  .video-home-list-item.large{
    .video-home-content{
      padding-right: 0;
    }
    .video-home-text{
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
    .video-home-image:before {
      height: 40px;
      width: 34px;
      }
    }
  }
}

@media (min-width:600px) and (max-width:1024px){
  .video-home-news{
    .video-home-list-wrapper{
      display: flex;
      width: 100%;
    }
  }
}

@media (max-width:1024px){
  .video-home-news{
    flex-flow: row wrap;
    .video-home-list-item {
      &.small{
        &:last-child{
            margin-left: 30px;
        }
      }
      &.large{
        margin: 0 0 10px 0;
        .video-home-wrapper{
          max-width: 100%;
        }
      }
    }
  //   .video-home-list-item {
  //       &.small{
  //         .video-home-item{
  //           height: 100%;
  //           .news-item{
  //             min-height: 100%;
  //             &:hover .video-home-text, 
  //             &:focus .video-home-text{
  //               transform:translateX(0);
  //             }
  //             .news-item-meta{
  //               max-width: 100%;
  //             }
  //           }
  //         }  
  //       }  

  //       &.large {
  //         margin-right: 0;
  //         width:100%;
  //       }
  //     }
  //   }
  // .video-home-list-item.small .video-content{
  //   padding: 10px 0 0 0;
  // }
  // .video-home-modal {
  //   height:100%;
  // }  
  }
}

@media (min-width:1024px){
  .video-home-news{
    .video-home-list-wrapper {
      @include span(4 of 12);
      .video-home-image{
        padding-top: 56%;
      }
    }
    .video-home-list-item {  
      &.small:last-child{
        padding-top: 10px;
      } 
      &.large {
        @include span(8 of 12);
      }
    }
  }
}

@include large-and-medium {
  .video-home-news{
    .video-home-list-wrapper {
      float: left;
      margin-right: 0;
      // modifiers
      .video-home-list-item.small {
        width: 100%;

        .video-home-wrapper {
          max-width: 100%;
        }
      }
    }

    .video-home-list-item {
        &:last-child{
          margin-right: 0;
        }
      }
    }
} 
