/* Add your style here */
.que-faire-news-list-wrapper{
  background: $que-faire-red;
  position: relative;
}

.que-faire-news-list-header{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;

  .que-faire-header-logo{
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 139px;
    left: 20px;
    width: 245px;
    position: relative;
    top: 18px;
    z-index: 10;
  }
  .que-faire-header-title{
    border-left:1px solid;
    border-color:transparentize($white, 0.7);
    float: left;
    height: 85px;
    left: 70px;
    top: 18px;
    position: relative;
    
    .header-title{
      color: $white;
      font-size: 1.8rem;
      line-height: 2.4rem;
      max-width: 365px;
      padding: 0;
      margin: 5px 0 0 20px;
    }
  }
}

.que-faire-news-list {
  list-style: none;
  padding: 0;
}

.que-faire-news-list-item {
  .news-card, .news-card-category{
    color:$white;
  }
  .news-card{
    html.no-js &,
    html.no-touch & {
      &:hover,
      &:focus {
        color: $que-faire-red;

        .news-card-content {
          &:before {
            background-color:$white;
          }
        }

        .news-card-category {
          color: $que-faire-red;

          &:before, &:after {
            border-color: transparentize($que-faire-red, 0.7);
          }
        }
      }
    }
  }
}


@include large-and-medium {

  .que-faire-news-list  {
    @include container;
    // mode gallery
    &.gallery {
      .que-faire-news-list-item {
        @include gallery(4 of 12);
      }

//      .que-faire-news-list-item {
//        @include gallery(8 of 16);
//      }
    }
  }

  .news-item {
    min-height: 140px;
    padding: 25px 0 40px;
  }

  .news-item-title {
    font-size: 2rem;
    line-height: 2.4rem;
  }

}