.treize-list {
  ul {
    border-top:4px solid black;
    padding:5rem 0 0 0;
    margin:5rem 0 0 0; 
    li.treize-list-card-item {
      width: 50%;
      float: left;
      display: inline;
      min-height: 400px;
      text-align:center;
      padding: 0;
      transition: visibility 0s, opacity 0.5s linear;
      opacity:0;
      visibility: hidden;
      &:nth-child(even) {
       
      }
      &:nth-child(even) {
        .treize-card-wrapper {
          float:right
        }
      }
      a {

      }
    }
    &:after {
      clear:both;
    }
  } 
  #treize-more {
    margin:0 auto;
    text-align: center;
    clear: both;
    border-top: 4px solid black;
    padding-top: 5rem;
  }
}

.home .treize-list {
  min-height: 350px;
  ul {
    border:0;
    padding:0;
    margin:0;
    li.treize-list-card-item {
      min-height: 350px;
      &:first-child {
        position:relative;
        &:after {
          text-transform:uppercase;
          color:$black;
          position:absolute;
          top: 2rem;
          left:0rem;
          width: auto;
          padding: 1rem 2rem 1rem 1rem;
          z-index: 2;
          border:2px solid $black;
          border-left:0;
          content:"photos";
          letter-spacing: .4rem;
          font-weight: bold;
          font-family: 'Poppins',sans-serif;
        }
        &:before {
          text-transform: uppercase;
          color: #000;
          position: absolute;
          top: 2rem;
          left: -5.8rem;
          width: auto;
          padding: 1rem 1rem 1rem 2rem;
          z-index: 2;
          border: 2px solid #000;
          content: "13";
          letter-spacing: .4rem;
          font-weight: bold;
          font-family: 'Poppins',sans-serif;
        }
      }
    }
  }
}


@include small {
  .treize-list {
    ul {
      li.treize-list-card-item {
        width: 100%;
        float:none;
        display: none;
        &:first-child {
          display:block;
          &:after,
          &:before {
            display:none;
          }
        }
      }
    }
  }
}
