.treize-list {
  ul {
    border-top:4px solid black;
    padding:5rem 0 0 0;
    margin:5rem 0 0 0; 
    li.treize-list-card-item {
      width: 50%;
      float: left;
      display: inline;
      min-height: 400px;
      text-align:center;
      padding: 0;
      transition: visibility 0s, opacity 0.5s linear;
      opacity:0;
      visibility: hidden;
      &:nth-child(even) {
       
      }
      &:nth-child(even) {
        .treize-card-wrapper {
          float:right
        }
      }
      a {

      }
    }
    &:after {
      clear:both;
    }
  } 
  #treize-more {
    margin:0 auto;
    text-align: center;
    clear: both;
    border-top: 4px solid black;
    padding-top: 5rem;
  }
}


@include small {
  .treize-list {
    ul {
      li.treize-list-card-item {
        width: 100%;
        float:none;
        display: block;
      }
    }
  }
}
