.component-rush-hours {
  clear: both;

  h2 {
    border-top: 7px solid $grayF2;
    color: $gray1A;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.2rem;
    margin-bottom: 20px;
    padding-top: 40px;
  }
  @include small {
    h2 {
      font-size: 3rem;
      line-height: 3.8rem;
    }
  }

  caption {
    caption-side: top;
    color: $gray33;
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 15px;
    text-align: left;
  }

  table {
    p {margin: 0;}
  }


  tr > th,
  tr > td {
    border: none;

    &:first-child {border-left: none;}
  }

  tr > th {
    background-color: white;
    color: $gray33;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
  }

  tr > td {
    border-bottom: 0.7rem solid white;
    border-right: 0.7rem solid white;
    color: $gray33;
    font-size: 1.4rem;
    font-weight: 300;
    padding-right: 6px;
    text-align: center;

    &:last-child {
      border-right: none;
    }

    a:not(.button) {
      color: $red1;
      text-decoration: underline;

      &:hover {text-decoration: none;}
    }

    // traffic
    &.traffic-0 {background-color: $grayF2;}
    &.traffic-1 {background-color: $rush-hours-green;}
    &.traffic-2 {background-color: $rush-hours-yellow;}
    &.traffic-3 {background-color: $rush-hours-red;}
  }

  tbody {
    tr.info {background-color: $light-blue;}
    tr:first-child {background-color: white;}
    tr:last-child > td {border-bottom: none;}
    tr:first-child > th:first-child {width:16%;}
    tr:first-child > th {
      padding: 1rem 0;
    }
  }

  tfoot {
    tr {background-color: transparent;}
    tr > td {text-align: left;}
  }
}

.rush-hours-traffic-icon {
  color: black;
  font-size: 2.8rem;
  letter-spacing: -0.6rem;
  opacity: 0.2;
  pointer-events: none;
  text-align: center;
  vertical-align: middle;

  &:before {
    @include icon(avatar);
  }
}

.rush-hours-text {
  margin-top: 4rem;

  a:not(.button) {
    color: $red1;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
}

@include medium-and-small {
  .component-rush-hours {
    overflow-x: auto;
    position: relative;
    width: 100%;

    tr > th {
      padding-right: 10px;
    }

    tr:first-child > th:first-child {padding-top: 0;}
  }
}

@include small {
  .component-rush-hours {

    table {
      max-width: 350px;
    }

    table + table {
      margin-top: 2rem;
    }

    tr > th {
      font-size: 1.4rem;
      text-align: left;

      &[colspan="2"] {
        font-weight: 700;
        padding: 1rem 0;
      }
    }

    tr:first-child > th {
      text-align: center;
    }

    tr > td {
      height: 3.6rem;
    }

    .rush-hours-traffic-icon {
      font-size: 2rem;
      line-height: 1rem;
    }
  }
}

@include large {
  .component-rush-hours {
  }
}
