.block-search {
  padding: 30px;

  &.gray-background {
    background-color: $grayF2;
  }

  & + .block-search {
    border-top: 1px solid $grayEE;
  }
}

.block-search-header {
  overflow: auto;
  margin-bottom: 10px;
}

.block-search-title {
  color: $color-secondary;
  float: left;
  font-size: 18px;
  margin: 0;
}

.block-search-top-link,
.block-search-bottom-links a {
  color: $gray33;
  font-size: 14px;
}

.block-search-top-link {
  float: right;
}

.block-search-bottom-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-search-bottom-links-item {
  display: inline-block;

  & + .block-search-bottom-links-item {
    margin-left: 10px;
  }
}
