@import "../../stylesheets/lib/flickity";

.block-search {
  padding: 30px;

  // modifiers
  &.gray-background {
    background-color: $grayF2;

    & + .block-search.gray-background {
      padding-top: 0;

      .block-search-header {
        border-top: 1px solid $grayCC;
        padding-top: 30px;
      }
    }
  }
}

.block-search-header {
  overflow: auto;
  margin-bottom: 10px;
}

.block-search-cards {
  .ais-hits {
    @include container;
  }

  .ais-hits--item {
    @include gallery(6 of 12);
    margin-bottom: gutter(12);
  }
}

.block-search-title {
  color: $color-secondary;
  float: left;
  font-size: 18px;
  margin: 0;
}

.block-search-top-link,
.block-search-top-link a,
.block-search-top-link a div,
.block-search-bottom-links a {
  color: $gray33;
  font-size: 14px;

  &:hover {
    color: $color-primary;
  }
}

.block-search-top-link {
  float: right;
}

.block-search-bottom-links {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.block-search-bottom-links-item {
  display: inline-block;

  & + .block-search-bottom-links-item {
    margin-left: 10px;
  }
}

@include small {
  .block-search-results {
    // display: none;

    .block-search-cards {

      .ais-hits--item {
        margin: 0;
        width: 100%;
        float: left;
        clear: none;

        .card {
          max-width: 100%;

          .card-image {
            display: none;
          }
        }
      }
    }
  }
}