@import "../../node_modules/mapbox-gl/dist/mapbox-gl";

.mapboxgl-ctrl-compass {
	display: none !important;
}

.mapbox-gl-user-marker {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: $color-secondary;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: -4px;
		left: -4px;
		right: -4px;
		bottom: -4px;
		background-color: $color-secondary;
		opacity: 0.5;
		border-radius: 50%;
	}
}

.map-caption,
.map-refresh {
	background-color: $white;
	border-radius: 2px;
	left: 15px;
	position: absolute;
}

.map-refresh {
  padding: 10px;
	top: 15px;
	max-width: calc(100% - 65px);

	label {
    align-items: center;
    display: flex;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;

		input {
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.map-caption {
  align-items: center;
  bottom: 25px;
  font-size: 1.3rem;
  display: flex;
	padding: 1rem 2rem;

  &-icon {
    display: inline-block;
    background: url('../modules/block-map/ico-nef-unknown.svg') center center no-repeat;
    height: 5.5rem;
    margin: 0 1.5rem 0 3rem;
    width: 4.9rem;

    &:first-child {margin-left: 0;}

    // modifiers
    &.is-open {
      background-image: url('../modules/block-map/ico-nef-open.svg');
    }
    &.is-closed {
      background-image: url('../modules/block-map/ico-nef-closed.svg');
    }
  }
}

.mapboxgl-popup {

	.mapboxgl-popup-content {
    max-width: 50rem;

		.card-content {
			padding: 10px;
			padding-right: 60px;
			font-family: 'Montserrat',sans-serif;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;

			h3,
			.card-text {
				min-height: 0;
			}

			button {
				margin-top: 15px;
			}

			.close-popup-btn,
			.favorite-btn {
				color: $gray99;
				cursor: pointer;
				position: absolute;
				right: 5px;
				top: 7px;
				font-size: 20px;
			}

			.favorite-btn {
				right: 30px;

				&.selected {
					color: $orange1;
				}
			}

      .card-buttons {
        margin-top: 10px;
      }

		}
	}
}

@include small {

  .mapboxgl-popup {
  	display: none !important;
  }
}
