mixin block-map(data)
  - data = JSON.parse(JSON.stringify(data)) // clone the data object
  - data.modifiers = data.modifiers || []
  - data.modifiers.push("block-map")
  #map
  .map-refresh
    label
      input(type="checkbox", name="map-refresh", checked)
      =data.refresh_map_title