.municipal-site-list {

  &-intro {
    color: $dark;
    display: block;
    float: left;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 0;
    max-width: 28rem;
  }

  &-items {
    list-style: none;
    margin: 0 auto;
    max-width: 69rem;
    padding-left: 0;
  }

  li {
    display: inline-block;

    .button {
      background: $grayF2;
      color: $secondary-v2;
      font-size: 1.6rem;
      line-height: 6.4rem;
      margin-left: .25rem;
      margin-right: .25rem;
      margin-bottom: .5rem;
      min-height: 6.4rem;
      min-width: 6.4rem;
      padding: 0 1rem;

      &:after {
        background: $secondary-v2;
      }

      &:hover, &:focus {
        color: $white;
        background-color:$secondary-v2;
      }
    }
  }
}

@include small {

  .municipal-site-list {
    text-align: center;

    &-intro {
      float: none;
      margin: 0 auto;
      margin-bottom: 2rem;
      max-width: 85%;
    }

    &-items {
      max-width: 40rem;
    }
  }
}

@include medium {

  .municipal-site-list {
    &-items {
      margin-left: 40%;
    }
  }
}

@include large {

  .municipal-site-list {

    &-intro {
      max-width: 30rem;
    }

    &-items {
      margin-left: 30%;
    }
  }
}
