/* Add your style here */

.municipal-site-list-content{
  padding-left: 2px;
}

.municipal-site-list-intro{
    color: #fff;
    display: inline-block;
    float:left;
    font-size:2.2rem;
    font-weight:700;
    line-height:2.4rem;
    margin: 0 55px 0 0;
    max-width:240px;
}

.municipal-site-list{
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  max-width:760px;
  padding:0;
}

.municipal-site-list-button {
  padding:3px;
  
  button{
    height:70px;
    width:70px;
    &.white{
      color:$color-secondary;
    }
  }
}

@include large-and-medium {

}