include ../button/button

mixin municipal-site-list(data)
  .municipal-site-list
    p.municipal-site-list-intro= data.text
    ul.municipal-site-list-items
      each item in data.items
        - item = JSON.parse(JSON.stringify(item || {})) // clone the data object
        li
          +button(item)
