
$color-primary   : #DF225A;
$color-secondary : #0C518A;
$color-tertiary  : #F8E273;

$color-primary-variant   : #AF2258;
$color-secondary-variant : #0A4770;
$color-tertiary-variant  : #D8C045;

.color-primary   {color: $color-primary;}
.color-secondary {color: $color-secondary;}
.color-tertiary  {color: $color-tertiary;}

.color-primary-background   {background-color: $color-primary;}
.color-secondary-background {background-color: $color-secondary;}
.color-tertiary-background  {background-color: $color-tertiary;}

$light-blue : #D1E0E5;
$green1     : #43B57E;
$green2     : #237C4D;
$yellow1    : #FAE46A;
$orange1    : #F77F68;
$red1       : #DD275C;
$red2       : #A51B50;
$red3       : #BF2257;

// Gray nuances
$black  : #000;
$gray1A : #1A1A1A;
$gray28 : #282828;
$gray33 : #333;
$gray4D : #4D4D4D;
$gray66 : #666;
$gray99 : #999;
$grayCC : #CCC;
$grayEE : #EEE;
$grayF2 : #F2F2F2;
$white  : #FFF;

.black-background {background-color:  $gray28;}
.black-background .heading-title {color: $white;}

// Que Faire à Paris
$qfap-red: #F94F4F;
.red-background { background-color: $qfap-red;}

// Notice
$notice-blue   : #A6CCDD;
$notice-orange : $orange1;

// Quick access
$quick-access-blue : #E5EBEF;

// Get involved
$get-involved-yellow : #F8C244;
$get-involved-red    : #E95757;
$get-involved-green  : #42A769;
$get-involved-blue1  : #3EC2DE;
$get-involved-blue2  : #D7EDF2;

// Rush Hours
$rush-hours-green   : #29BB9C;
$rush-hours-yellow  : #F3C872;
$rush-hours-red     : #DB4928;
$rush-half-hours-green   : #29BB9C;
$rush-half-hours-yellow  : #F3C872;
$rush-half-hours-red     : #DB4928;

// Home categories
$home-cat-red     : #E95756;
$home-cat-blue1   : #3EC2DE;
$home-cat-blue2   : #D7EDF2;
$home-cat-green   : #42A769;
$home-cat-yellow  : #F8C243;

// v2
$dark      : #002542;
$light     : $white;
$blue-v2   : #354BCF;
$green-v2  : #3EFA93;
$orange-v2 : #FF2C00;
$red-v2    : #FB004A;
$teal-v2   : #25DCCC;
$yellow-v2 : #ffCD00;

.color-v2-blue-background   {background-color: $blue-v2;}
.color-v2-green-background  {background-color: $green-v2;}
.color-v2-orange-background {background-color: $orange-v2;}
.color-v2-red-background    {background-color: $red-v2;}
.color-v2-teal-background   {background-color: $teal-v2;}
.color-v2-yellow-background {background-color: $yellow-v2;}
